<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="title permanent-marker is-2 has-text-grey-lighter">
            BEFORE GREATNESS
        </div>
        <div class="title permanent-marker is-5 has-text-grey-lighter">
            We Are Building Better Humans.
        </div>

<div class="container is-fluid">
<div class="box has-text-left">
</br>
<p>At <b>BeforeGreatness</b>, we're not just a gym – we're a community dedicated to helping individuals achieve their fitness goals and discover their true potential. Our story is one of perseverance, strength, and an unyielding belief in the power of the human spirit.</p>
</br>
<h2 class="permanent-marker">Our Story</h2>
</br>
<p>Our founder, Jeremy, is not just a fitness enthusiast, but also a beacon of resilience. In 2006, Jeremy was diagnosed with cancer, a battle that he bravely fought and triumphed over. This experience instilled in him a profound appreciation for health and fitness, a passion that fueled the creation of BeforeGreatness.</p>
</br>
<p>Jeremy's journey through cancer recovery to peak fitness became a source of inspiration for others. He championed the idea that physical fitness is not only about building strength and endurance, but also about overcoming challenges, embracing personal growth, and celebrating the human spirit's indomitable resilience.</p>
</br>
<h2 class="permanent-marker">Our Mission</h2>
</br>
<p>Our mission at BeforeGreatness is to provide unique, targeted training that helps you excel in your chosen sport and in life. Whether it's improving your balance for longboarding, building strength for weightlifting, enhancing endurance for mountain biking, honing skills for snowboarding, or gearing up for a HYROX event, we've got you covered.</p>
</br>
<h2 class="permanent-marker">Our Commitment</h2>
</br>
<p>We are committed to creating an inclusive, motivating, and supportive environment. Our qualified trainers are here to guide you, and our community is here to uplift you. No matter your fitness level, age, or background, at BeforeGreatness, you will find a space where you can strive, grow, and achieve greatness – one workout at a time.</p>
</br>
<h2 class="permanent-marker">Welcome to BeforeGreatness</h2>
</br>
<p>We welcome you to join us at BeforeGreatness, where every sweat, every challenge overcome, and every goal achieved brings you one step closer to your personal greatness. Embrace the journey with us, and together, let's redefine what's possible!</p>
</br>
</div>
</div>




{% endblock %}