<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="title permanent-marker is-2 has-text-grey-lighter">
            BEFORE GREATNESS
        </div>
        <div class="title permanent-marker is-5 has-text-grey-lighter">
            We Are Building Better Humans.
        </div>

<div class="container is-fluid">
<div class="box has-text-left">
    <h2 class="permanent-marker">About Us</h2>
</br>
    <h4 class="permanent-marker">Welcome to Before Greatness, where strength, resilience, and adventure meet!</h4>
</br>
    <p>We're not just a gym; we're a community built on the love for alternative sports and the pursuit of greatness. Our name, "Before Greatness", stems from the belief that every great achievement begins with countless hours of practice, numerous falls, and the relentless spirit to rise again.</p>

    <p>Founded by Jeremy, an enthusiast of mountain biking, snowboarding, weightlifting, longboarding, and now HYROX, we are a specialized micro gym that prepares you for the sports you love. Jeremy's passion for these sports, combined with his drive to share the physical and mental benefits they offer, gave birth to Before Greatness.</p>
</br>
    <h2 class="permanent-marker">Our Mission</h2>
</br>
    <p>Our mission is to provide unique, targeted training that helps you excel in your chosen sport. Whether it's improving your balance for longboarding, building strength for weightlifting, enhancing endurance for mountain biking, honing skills for snowboarding, or training for the multi-disciplinary challenges of HYROX, we've got you covered.</p>
</br>
    <h2 class="permanent-marker">Building Better Humans</h2>
</br>
    <p>At Before Greatness, we focus on both the physical and mental aspects of training. We believe in fostering a strong mindset alongside a strong body. It's this holistic approach that sets us apart from traditional gyms.</p>
</br>
    <p>Our state-of-the-art facility is designed to cater to your individual needs, and our dedicated team of certified trainers ensures that you receive the guidance and support necessary to reach your goals.</p>
</br>
    <p>Join us at Before Greatness, and let's embark on a journey to achieve greatness, one workout at a time. We're excited to be part of your adventure!</p>
</br>
    <p>Welcome to Before Greatness - your pathway to peak performance.</p>
    </br>
</div>
</div>




{% endblock %}