<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="title permanent-marker is-2 has-text-grey-lighter">
            BEFORE GREATNESS
        </div>
        <div class="title permanent-marker is-5 has-text-grey-lighter">
            We Are Building Better Humans.
        </div>

<div class="container is-fluid">
<div class="box has-text-left">
    <h3 class="permanent-marker">Title</h3>
    <p>test text</p>
    </br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra accumsan in nisl nisi scelerisque eu. Ullamcorper eget nulla facilisi etiam dignissim diam quis. Consequat id porta nibh venenatis cras. Tempor commodo ullamcorper a lacus vestibulum sed. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Felis bibendum ut tristique et egestas. Viverra aliquet eget sit amet tellus cras. Felis eget velit aliquet sagittis id consectetur purus. Augue interdum velit euismod in pellentesque. Tempor id eu nisl nunc mi. Volutpat odio facilisis mauris sit amet. Iaculis urna id volutpat lacus laoreet non curabitur gravida. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit lectus.
    </p>
    </br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra accumsan in nisl nisi scelerisque eu. Ullamcorper eget nulla facilisi etiam dignissim diam quis. Consequat id porta nibh venenatis cras. Tempor commodo ullamcorper a lacus vestibulum sed. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Felis bibendum ut tristique et egestas. Viverra aliquet eget sit amet tellus cras. Felis eget velit aliquet sagittis id consectetur purus. Augue interdum velit euismod in pellentesque. Tempor id eu nisl nunc mi. Volutpat odio facilisis mauris sit amet. Iaculis urna id volutpat lacus laoreet non curabitur gravida. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit lectus.
    </p>
    </br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra accumsan in nisl nisi scelerisque eu. Ullamcorper eget nulla facilisi etiam dignissim diam quis. Consequat id porta nibh venenatis cras. Tempor commodo ullamcorper a lacus vestibulum sed. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Felis bibendum ut tristique et egestas. Viverra aliquet eget sit amet tellus cras. Felis eget velit aliquet sagittis id consectetur purus. Augue interdum velit euismod in pellentesque. Tempor id eu nisl nunc mi. Volutpat odio facilisis mauris sit amet. Iaculis urna id volutpat lacus laoreet non curabitur gravida. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit lectus.
    </p>
    </br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra accumsan in nisl nisi scelerisque eu. Ullamcorper eget nulla facilisi etiam dignissim diam quis. Consequat id porta nibh venenatis cras. Tempor commodo ullamcorper a lacus vestibulum sed. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Felis bibendum ut tristique et egestas. Viverra aliquet eget sit amet tellus cras. Felis eget velit aliquet sagittis id consectetur purus. Augue interdum velit euismod in pellentesque. Tempor id eu nisl nunc mi. Volutpat odio facilisis mauris sit amet. Iaculis urna id volutpat lacus laoreet non curabitur gravida. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit lectus.
    </p>
</div>
</div>




{% endblock %}