<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
        <div class="columns is-mobile is-centered">
            <figure class="image ">
                <img src="{{ logo_url }}">
            </figure>
        </div>
        <br/>
        <div class="title b612-mono is-4 has-text-grey-lighter">
            work before greatness
        </div>
    </br>
<!--uncomment form when mail list is needed-->
<!--    <div class="columns is-mobile is-centered">-->
<!--        <form method="POST" action="/maillist">-->
<!--            <div class="field has-addons">-->
<!--                <div class="control has-icons-left">-->
<!--                    <input class="input is-medium b612-mono" type="email" name="email" placeholder="email for updates" autofocus="">-->
<!--                    <span class="icon is-small is-left">-->
<!--                        <i class="fas fa-envelope"></i>-->
<!--                    </span>-->
<!--                </div>-->
<!--                <div class="control">-->
<!--                    <button class="button is-success is-medium b612-mono">sign up</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

</br>
        <div class="tabs is-centered">
          <ul>
            <li>
                <!-- Twitter-->
              <a href="https://twitter.com/beforeGR8ness" target="_blank">
                <div class="icon-text">
                    <span class="icon has-text-info">
                        <i class="fa-brands fa-twitter"></i>
                    </span>
                </div>
              </a>
            </li>
               <li>
            <!-- Instagram-->
              <a href="http://instagram.com/beforegr8ness" target="_blank">
              <div class="icon-text">
              <span class="icon has-text-success">
                <i class="fa-brands fa-square-instagram"></i>
              </span>
            </div>
              </a>
          </li>
          <li>
              <!--  TikTok-->
              <a href="https://www.tiktok.com/@beforegr8ness?is_from_webapp=1&sender_device=pc">
              <div class="icon-text">
              <span class="icon has-text-warning">
                <i class="fa-brands fa-tiktok"></i>
              </span>
            </div>
              </a>
          </li>
          <li>
            <!-- YouTube-->
              <a href="https://www.youtube.com/channel/UCkiEGgIwNLrKuDUwCkSrOwQ" target="_blank">
              <div class="icon-text">
              <span class="icon has-text-success">
                <i class="fa-brands fa-square-youtube"></i>
              </span>
            </div>
              </a>
          </li>
          </ul>
        </div>


<br/>

{% endblock %}