<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<!--TODO add logo-->

<br/>
        <div class="title permanent-marker is-1 has-text-grey-lighter">
            BEFORE GREATNESS
        </div>
        <div class="title permanent-marker is-4 has-text-grey-lighter">
            We Are Building Better Humans.
        </div>
</br>
<div class="columns is-mobile is-centered">
        <form method="POST" action="/maillist">
            <div class="field has-addons">
                <div class="control has-icons-left">
                    <input class="input is-medium" type="email" name="email" placeholder="Email Address" autofocus="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
                <div class="control">
                    <button class="button is-success is-medium">Subscribe</button>
                </div>
            </div>

        </form>
    </div>


<br/>

{% endblock %}